<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resume</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ site.name }}</h1>
    <main>
      <div class="sidebar">
        {% include contact.html %}
        {% include summary.html %}
        {% include skills.html %}
        {% include education.html  %}
        {% include tools.html %}
      </div>
      <div class="main">
        <h2>ICC - Consultant <small>[ 2014 - Present ]</small></h2>
        <h3>Relevant Work</h3>
        {% include projects.html %}
      </div>
    </main>
  </body>
</html>
